@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
:root {
    --color-background-1: #aaa;
    --color-background-2: #888;
    --color-calculator-body: #111;
    --color-calculator-display: #222;
    --color-calculator-button: #333;
    --color-calculator-button-hover: #444;
    --color-calculator-button-active: #888;
    --color-calculator-button-number: #fff;
}
body {
    font-family: "Roboto Mono", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(
        var(--color-background-1),
        var(--color-background-2)
    );
}

.calculator-body {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-calculator-body);
}
.display {
    background-color: var(--color-calculator-display);
    height: 80px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
    text-align: right;
    font-size: 1.5rem;
}
.display .top-row {
    height: 50%;
    font-weight: 100;
    white-space: pre-wrap;
}
.display .bottom-row {
    height: 50%;
    font-weight: 100;
    white-space: pre-wrap;
}
.display .bottom-row.empty-input {
    opacity: 50%;
}

.buttons-container {
    height: 350px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    font-family: "Roboto", sans-serif;
    box-shadow: 1px 2px 3px 1px black;
    background-color: var(--color-calculator-button);
    color: var(--color-calculator-button-number);
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}
button:hover {
    background-color: var(--color-calculator-button-hover);
}
button:active {
    background-color: var(--color-calculator-button-active);
}
[data-number="0"] {
    grid-column-start: 1;
    grid-column-end: 3;
}
